/*Logo escrito ALURA*/
.logo {
    vertical-align: top;
    display: inline-block;
    width: 10%;
    margin: 40px 0 0 32px;
    margin-right: 10%;
}

.barraDeBusca {
    vertical-align: top;
    margin: 32px 0 0 0;
    padding: 0px;
    gap: 8px;

    width: 60%;
    height: 56px;

    background: rgba(255, 255, 255, 0.16); 
    border-radius: 8px;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40%;

    color: #FFFFFF;

    opacity: 0.64;
}

body {
    background-color: #051D3B;
}